.grid{
  columns:4;
  column-gap: 15px;
  padding:5px;
}

.grid .items{
  margin-bottom: 20px;
  display:flex;
  border:2px solid black;
  padding:2px;
  width:100%;
  flex-direction: column;
}

.grid .items img{
  width:100%;
}

.grid .items div{
  display: flex;
    flex-direction: column;
  height:200px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.header{
  display:flex;
  margin-top: 30px;
  height:15vh;
  width:100%;
  justify-content: center;
  align-items: center;
}

.searchImage{
  height:50%;
  width:35%;

  display:flex;
  justify-content: center;
  align-items: center;
}


.group{
  display:flex;
  flex-direction: column;
}

.group .chart{
width:40%;
}


.group-header{
  display:flex;
  flex-direction: row;
  margin-bottom:20px;

}

.group-header h1{
  color:white;
}



.group-items{
  display:flex;
  flex-direction:column;
  border:2px solid blue;
  justify-content: center;
  align-items: center;
}

.group-items img{
  height:100px;
  width:100%;
  padding:25px;
  margin-bottom: 20px;
}


body{
  margin:0;
  padding:0;
  background-color:  #4B4343;
}

.grid{
  width:1200px;
  margin:18px auto;
  columns:4;
  column-gap:40px;
}

.grid .group-items{
  width:100%;
  margin:0 0 20px;
  padding:15px;
  background:white;
  overflow:hidden;
  break-inside: avoid;
}


.grid .group-items img{
  max-width: 100%;
}

.grid .group-items h2{
  margin:10px 0;
  padding:0;
  font-size: 18px;
}



@media(max-width:1200px){
  .grid{
    columns:3;
    width:calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;

  }
}

@media(max-width:768px){
  .grid{
    columns:2;
  }
}

@media(max-width:480px){
  .grid{
    columns:1;
  }
}
